[submodule "lib/maddy/maddy"]
	path = lib/maddy/maddy
	url = https://github.com/progsource/maddy
[submodule "lib/ping-cpp"]
	path = lib/ping-cpp/ping-cpp
	url = https://github.com/bluerobotics/ping-cpp
[submodule "lib/mavlink/c_library_v2"]
	path = lib/mavlink/c_library_v2
	url = https://github.com/mavlink/c_library_v2
[submodule "lib/fmt/fmt"]
	path = lib/fmt/fmt
	url = https://github.com/fmtlib/fmt
